*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    background-color: white;
    transition: 1s;
}
.logo{
    font-size: 30px;
    font-weight: 600;
}
.links{
    width: auto;
    height: auto;
    padding: 10px;
}
.links a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
}

.hero-section{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(image1.jpg);
}

.main-heading{
    font-size: 50px;
    color: white;
    text-shadow: 10px 5px 10px black;
}
.book-button{
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.action-section{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.act1, .act2, .act3{
    width: 300px;
    height: 350px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    text-align: center;
    }

.pen, .layer, .rocket{
    font-size: 20px;
    width: 10px;
    height: 10px;
    color: black;
}
